table{
    background-color: black;
    color: white;

}
td{
    padding: 10px;
    margin: 15px;
    border: solid 2px greenyellow ;
}
p{
    border: 2px solid green;
    padding:  10px;
    margin: 20px;
    background: rgba(0, 128, 0, 0.196);

}